LoadModule ssl_module modules/mod_ssl.so
Listen 443
<VirtualHost *:443>
  ServerName {{ hostvars[ansible_host]['ssl_hostname'] }}
  SSLEngine on
  SSLCertificateFile "/etc/letsencrypt/live/{{ hostvars[ansible_host]['ssl_hostname'] }}/fullchain.pem"
  SSLCertificateKeyFile "/etc/letsencrypt/live/{{ hostvars[ansible_host]['ssl_hostname'] }}/privkey.pem"
  DocumentRoot /opt/piwik
  <Directory {{ piwik.settings.locations.dest }}>
  	Order Deny,Allow 
  	Deny from All 
    {% if piwik.settings.ip_range is defined %}
    	Allow from {{ piwik.settings.ip_range }}
      Require ip {{ piwik.settings.ip_range }}
    {% else %}
      Allow from All
      {% if ansible_distribution in [ 'CentOS', 'RedHat', 'Fedora' ] %}
        Require all granted
      {% endif %}
    {% endif %}
  	<Files "piwik.php"> 
      Order Deny,Allow 
      Allow from All 
  	</Files>
      <Files "piwik.js">
           Order Deny,Allow
           Allow from All
      </Files>
  </Directory>
</VirtualHost>

<VirtualHost *:80>
  Redirect "/" "https://{{ hostvars[ansible_host]['ssl_hostname'] }}/"
</VirtualHost>